$primary-color: #049372;

$secondary-color: #818aec;
$light: #f2f1ef;

$gray: #aaa;
$dark: #333;
$danger: #cf000f;
$main-font: Verdana, Geneva, Tahoma, sans-serif;

$breakpoint-tablet: (
  min-width: 660px,
);

$breakpoint-laptop: (
  min-width: 1200px,
);

$breakpoint-desktop: (
  min-width: 1920px,
);
