@import '../../theme';

.Container {
  background-color: $light;
  border-radius: 3px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  width: 80%;
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
}

.Title {
  font-size: 1.5rem;
  font-weight: 500;
}

.ButtonContainer {
  margin-left: 1em;
}
