@import '../../theme';

.Container {
  background-color: $light;
  border-radius: 3px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 1000px;
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
}

.Title {
  font-size: 1.2rem;
  font-weight: 500;
}

.Buttons {
  display: flex;
}

.ButtonContainer {
  margin: 0.2em 0 0.2em 1em;
}
