.FocusedPost {
  min-height: 100vh;
}
.MarkDownContainer {
  max-width: 75ch;
  line-height: 130%;
  font-size: 1.25rem;

  width: 80%;
  margin: 4em auto;
  line-height: 130%;
  h1 {
    font-weight: 500;
    margin-bottom: 0.2em;
  }

  p {
  }
}
