@import '../../theme';

.Navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100vw;
  height: 3em;
  padding: 1em;

  background-color: $light;
}

.Logo {
  font-weight: 500;
  font-size: 1.4rem;
  color: $primary-color;
}
