@import '../../../theme';

.Input {
  display: block;
}

.Label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.3em;
}

.FormGroup {
  display: block;
}

.TextArea {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  font-size: 1.2rem;
}
