@import '../../../theme';

.Input {
  font-family: $main-font;
  display: block;
  font-size: 1.1rem;
  margin-bottom: 0.5em;
  width: 100%;
  padding: 0.3em 0.5em;
  border: 1.5px solid $gray;
  border-radius: 3px;
  outline: none;
}

.Input:focus {
  border: 1.5px solid $dark;
}

.Label {
  display: block;
  font-size: 1.1rem;
  margin-bottom: 0.3em;
  text-transform: capitalize;
}

.FormGroup {
  display: block;
}

.TextArea {
  font-family: $main-font;
  width: 100%;
  height: auto;
  font-size: 1.1rem;
  margin-bottom: 0.5em;
  padding: 0.3em 0.5em;
  border: 1.5px solid $gray;
  border-radius: 3px;
  min-height: 500px;
  height: 90vh;
  resize: none;
  line-height: 130%;
  outline: none;
}

.TextArea:focus {
  border: 1.5px solid $dark;
}
